/* font-family: 'Dancing Script', cursive; beka

font-family: 'Fjalla One', sans-serif;

font-family: 'Merriweather', serif; tera

font-family: 'PT Sans Narrow', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
